.App {
  --app-padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 75px 80vh;
  grid-template-columns: 40vh 100px;
  grid-template-areas: 'title title' 'board game-info';
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #37474f;
  color: #ffffff;
  padding: var(--app-padding);
  border-radius: 8px;
}

.Title {
  grid-area: title;
}

.Board {
  grid-area: board;
}

.Game-info {
  grid-area: game-info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: bold;
  margin: auto;
}

h2 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

h3 {
  font-size: 36px;
  letter-spacing: 1px;
  margin-top: 1px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: space-between;
}
