.board {
  --rows: 20;
  --columns: 10;
  --box-size: calc(80vmin / var(--rows));

  top: 0;
  left: 0;
  display: grid;
  /* height: 78vh;
  width: 39vh; */
  /* height: 60vh;

  padding-bottom: 50%; */

  /* width: calc(var(--box-size) * var(--columns));
  height: calc(var(--box-size) * var(--rows)); */
  grid-template: repeat(var(--rows), 1fr)/repeat(var(--columns), 1fr);
  background-color: #102027;
}

.cell {
  box-shadow: inset 0 0 0 1px #37474f;
}

.cell-blank {
}

.cell-I {
  background-color: cyan;
}

.cell-J {
  background-color: blue;
}

.cell-L {
  background-color: orange;
}

.cell-O {
  background-color: yellow;
}

.cell-S {
  background-color: green;
}

.cell-T {
  background-color: purple;
}

.cell-Z {
  background-color: red;
}
