.board {
  --rows: 20;
  --columns: 10;
  --box-size: calc(70vmin / var(--rows));

  top: 0;
  left: 0;
  display: grid;
  width: calc(var(--box-size) * var(--columns));
  height: calc(var(--box-size) * var(--rows));
  grid-template: repeat(20, 1fr)/repeat(10, 1fr);
  background-color: #333;
}

.cell {
  box-shadow: inset 0 0 0 calc(var(--box-size) * 0.025) rgba(0, 0, 0, 1);
}

.cell-blank {
}

.cell-I {
  background-color: cyan;
}

.cell-J {
  background-color: blue;
}

.cell-L {
  background-color: orange;
}

.cell-O {
  background-color: yellow;
}

.cell-S {
  background-color: green;
}

.cell-T {
  background-color: purple;
}

.cell-Z {
  background-color: red;
}
