* {
  box-sizing: border-box;
}

:root {
  --rows: 20;
  --columns: 10;
  --box-size: calc(90vmin / var(--rows));
}

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}
